// VARIABLES  
$verde: #464F34;
$blanco: #ffffff;
$negro: #000000;
$blanco-oscuro: #e0dbdb;
$footer-color:#182901;

//FUENTE
$cormorant: 'Cormorant Garamond', serif;


//MIXINS
@mixin disp-just-c ($disp, $just-c) {
    display:$disp ;
    justify-content:$just-c ;
}

.container-textos {
    @include disp-just-c (flex, center);
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: $cormorant;

    h1 {
        color: $verde;
        font-size: 3rem;
        text-align: center;
        padding-top: 20px; ;

    }

    h2 {
        color: $verde;
        font-size: 1.5rem;
        text-align: center;
        max-width: 800px;
    }
}

.container-formulario {
    @include disp-just-c (flex, center);
    padding: 30px 15px;
    box-sizing: border-box;

    .row {
        width: 100%;
        

    }

    p {
        color: $verde;
        font-size: 1.2rem;
        text-align: center;
        max-width: 800px;
        margin: 0 auto;
        padding: 40px;
    }
}
    
.fondo-contacto-blanco {
    background-color: $blanco-oscuro;
}


@media (max-width: 600px) {
    .container-formulario p {
        font-size: 1rem;
        padding: 20px;
    }
}
