// VARIABLES  
$verde: #464F34;
$blanco: #ffffff;
$negro: #000000;
$blanco-oscuro: #e0dbdb;
$footer-color:#182901;

//FUENTE
$cormorant: 'Cormorant Garamond', serif;


//MIXINS
@mixin disp-just-c ($disp, $just-c) {
    display:$disp ;
    justify-content:$just-c ;
}

.fondo-chicas {
    background-color: $blanco-oscuro;

    h1 {
        text-align: center;
        padding-top: 20px;
        font-size: 2.5rem;
        color: $verde;
        font-family: $cormorant;
    }
    p {
        text-align: center;
        font-size: 1.6rem;
        color: $verde;  
        margin: 0;
        padding: 30px;
        font-family: $cormorant;
        font-style: italic;
    }
}

.fondo-salones {
    background-color: $verde;

    h1 {
        text-align: center;
        padding-top: 20px;
        font-size: 2.5rem;
        color: $blanco;
        font-family: $cormorant;
    }
    p {
        text-align: center;
        font-size: 1.6rem;
        color: $blanco;  
        margin: 0;
        padding: 30px;
        font-family: $cormorant;
        font-style: italic;
    }
}

.fondo-casamientos {
    background-color: $blanco-oscuro;

    h1 {
        text-align: center;
        padding-top: 20px;
        font-size: 2.5rem;
        color: $verde;
        font-family: $cormorant;
    }

    p {
        text-align: center;
        font-size: 1.6rem;
        color: $verde;  
        margin: 0;
        padding: 30px;
        font-family: $cormorant;
        font-style: italic;
    }
}
.quince-chicas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 20px;
    

    img {
        width: 100%;
        aspect-ratio: 1 / 1;
        object-fit: cover;
    }
}

.salones {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 20px;
    

    img {
        width: 100%;
        aspect-ratio: 1 / 1;
        object-fit: cover;
    }
   
}

.eventos-casamientos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 20px;
    

    img {
        width: 100%;
        aspect-ratio: 1 / 1;
        object-fit: cover;
    }
}
  

