// VARIABLES  
$verde: #464F34;
$blanco: #ffffff;
$negro: #000000;
$blanco-oscuro: #e0dbdb;
$footer-color:#182901;

//FUENTE
$cormorant: 'Cormorant Garamond', serif;


//MIXINS
@mixin disp-just-c ($disp, $just-c) {
    display:$disp ;
    justify-content:$just-c ;
}

.fondo-reservar {
    background-image: url('../../medios/reservar/fondo-reservar.jpg');
    background-size: cover;
    background-position: center;
}

h1, h2 {
  font-family: $cormorant;
  color: $blanco;
  text-align: center;
  margin: 0;

}

h1 {
  font-size: 5rem;
  padding-top: 4rem;
}

h2 {
  font-size: 3rem;
  padding-bottom: 4rem; 
}

.formulario-contacto-container {
  display: flex;
  justify-content: center;
  padding: 0 15px; // un poco de padding en los costados para móviles
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: $blanco-oscuro;
}

.formulario-contacto {
  width: 100%;
  max-width: 600px;
}

p {
  padding-top: 2rem;
  font-size: 1.2rem;
  color: $negro;
  text-align: center;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.2rem;
  }

  h2 {
    font-size: 1.2rem;
  }
}
