// VARIABLES  
$verde: #464F34;
$blanco: #ffffff;
$negro: #000000;
$blanco-oscuro: #e0dbdb;
$footer-color:#182901;

//FUENTE
$cormorant: 'Cormorant Garamond', serif;


//MIXINS
@mixin disp-just-c ($disp, $just-c) {
    display:$disp ;
    justify-content:$just-c ;
}



 .formulario-contacto-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 4rem;
  
}

.formulario-contacto {
  width: 100%;
  max-width: 600px;
}

main {
  padding-bottom: 4rem;
}
