// VARIABLES  
$verde: #464F34;
$blanco: #ffffff;
$negro: #000000;
$blanco-oscuro: #e0dbdb;
$footer-color:#182901;

//FUENTE
$cormorant: 'Cormorant Garamond', serif;


//MIXINS
@mixin disp-just-c ($disp, $just-c) {
    display:$disp ;
    justify-content:$just-c ;
}

.card-servicios {
  @include disp-just-c (flex, center);
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 80px;
  margin-bottom: 50px;
  transition: all 0.5s linear;
  font-family: $cormorant;

 .card {
  background-color: rgba(255, 255, 255, 0.514);
  transition: all 0.5s linear;

  &:hover {
    transform: scale(1.05);
    background-color: $blanco;
    box-shadow: $blanco 0px 0px 20px 0px;
  }

  img {
    max-height: 300px;
    object-fit: cover;
     }
   }
 }